  <div class="AddEmployeeTitleContainer">
    <div class="addEmployeeTitleContainer">
      <div>
        Manage Equipment Query
      </div>
    </div>
    <div class="addEmployeeBtnContainer">
    </div>
    </div>
    
    <div *ngIf="newReport_QueryClicked">
    <div class="formWrapper">
      <h5>Query</h5>
      <a class="btn btn-link" (click)="CloseReport_QueryBtn()">X</a>
    <form [formGroup]="equipmentQueryForm">
        
      <div class="form-group position">
        <h4>Select Query Status</h4>
        <mat-form-field appearance="fill">
          <mat-label>Query Status</mat-label>
          <mat-select formControlName="queryStatus">
            <mat-option *ngFor="let item of query" [value]="item.id" >
              {{item.equipmentQueryDescription}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button type="submit" class="btn btn-success" (click)="Report_Query()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
        </svg>
        SAVE</button>
    
    </form>
    </div>
    </div>
    
    <hr>
  
  <div class="search-hero container">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="&#61442;  Start searching">
  </div>
    
    <div class="tableWrapper">
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="col">Query</th>
        <th class="col">Query Date</th>
        <th class="col">Equipment Serial Number</th>
        <th class="col">Equipment Type</th>
        
        <th class="col">Query Status</th>
        <th class="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of x | filter:searchText; let i = index">
        <td>{{item.equipmentQueryDescription}}</td>
        <td>{{item.equipmentQueryDate}}</td>
        <td>{{item.equipment.equipmentSerialNumber}}</td>
        <td>{{item.equipment.equipmentType.equipmentTypeDescription}}</td>
      
        <td>{{item.queryStatus.equipmentQueryDescription}} </td>
        <td>
          <button class="btn btn-danger" (click)="editReport_Query(i)">Resolve Query</button>
        </td>
      </tr>
    </tbody>
    </table>
    </div> 