  <div class="AddEmployeeTitleContainer">
    <div class="addEmployeeTitleContainer">
      <div>
        Manage Equipment Query
      </div>
    </div>
    <div class="addEmployeeBtnContainer">
    </div>
    </div>
    
    <div *ngIf="newReport_QueryClicked">
    <div class="formWrapper">
      <h5>Query</h5>
      <a class="btn btn-link" (click)="CloseReport_QueryBtn()">X</a>
    <form>
        
      <div class="form-group position">
        <h4>Select Query Status</h4>
        <mat-form-field appearance="fill">
          <mat-label>Query Status</mat-label>
          <mat-select formControlName="queryStatus">
            <mat-option *ngFor="let item of query" [value]="item.id" >
              {{item.equipmentQueryDescription}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    
    </form>
    </div>
    </div>
    
    <hr>
  
  <div class="search-hero container">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
      placeholder="&#61442;  Start searching">
  </div>
    
    <div class="tableWrapper">
    <table class="table table-striped">
    <thead>
      <tr>
        <th class="col">Query</th>
        <th class="col">Query Date</th>
        <th class="col">Equipment Serial Number</th>
        <th class="col">Equipment Type</th>
        <th class="col">Onboarder</th>
        <th class="col">Query Status</th>
        <th class="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of x | filter:searchText; let i = index">
        <td>{{item.equipmentQueryDescription}}</td>
        <td>{{item.equipmentQueryDate}}</td>
        <td>{{item.equipment.equipmentSerialNumber}}</td>
        <td>{{item.equipment.equipmentType.equipmentTypeDescription}}</td>
        <td>{{item.onboarder.fullName}}</td>
        <td>{{item.queryStatus.equipmentQueryDescription}}</td>
        <td>
          <button class="btn btn-danger" (click)="editReport_Query(i)">Resolve Query</button>
        </td>
      </tr>
    </tbody>
    </table>
    </div> 