<div class="page-title" *ngIf="lesson_content.length > 0">
      {{lesson_content[0].lesson_outcome.lesson.course.courseName}} ▶    {{lesson_content[0].lesson_outcome.lesson.lessonName}} ▶  {{lesson_content[0].lesson_outcome.lessonOutcomeName}} ▶  Lesson Content
    </div>
    <div class="page-title" *ngIf="lesson_content.length == 0">
     This Lesson Content has no material related to it, 
    </div>

<h1>Course Center - Lesson Content</h1>

<div *ngFor="let content of content; let i = index">
      <div>
           <h3>{{content.lessonContentDescription}}</h3> 
      <br/>
      {{content.lessonContent1}}
      </div>
      <hr>
</div>

